%h1 Models

= button_to 'Add new model', new_model_path, method: :get, class: 'btn btn-primary'

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Description
      %th Brand
      %th
      %th
      %th

  %tbody.align-middle
    - @models.each do |model|
      %tr
        %td.width_for_string_field
          = model.name
        %td= model.description
        %td.width_for_string_field
          = model.brand.name
        %td.width_for_sed
          = button_to 'Show', model, method: :get, class: 'btn btn-info'
        %td.width_for_sed
          = button_to 'Edit', edit_model_path(model), method: :get, class: 'btn btn-secondary'
        %td.width_for_sed
          = button_to 'Delete', model, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
