= form_for @submodel do |f|
  - if @submodel.errors.any?
    #error_explanation
      %h2= "#{pluralize(@submodel.errors.count, "error")} prohibited this submodel from being saved:"
      %ul
        - @submodel.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :model_id
    %br/
    = f.select :model_id, @models, selected: @submodel.model_id
  .actions
    %br/
    = f.submit 'Save', class: 'btn btn-success'
