%h1 Submodels

= button_to 'Add submodel', new_submodel_path, method: :get, class: 'btn btn-primary mb-2'

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Model
      %th
      %th
      %th

  %tbody.align-middle
    - @submodels.each do |submodel|
      %tr{'url' => '/submodels/' + submodel.id.to_s}
        %td= submodel.name
        %td= submodel.model.name
        %td.width_for_sed
          = button_to 'Show', submodel, method: :get, class: 'btn btn-info'
        %td.width_for_sed
          = button_to 'Edit', edit_submodel_path(submodel), method: :get, class: 'btn btn-secondary'
        %td.width_for_sed
          %button.deleteAction.btn.btn-danger{:type => 'button'} Delete