%h1 Dealers

= button_to 'Add new dealer', new_dealer_path, method: :get, class: 'btn btn-primary'

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th
      %th
      %th

  %tbody.align-middle
    - @dealers.each do |dealer|
      %tr
        %td= dealer.name
        %td.width_for_sed
          = button_to 'Show', dealer, method: :get, class: 'btn btn-info'
        %td.width_for_sed
          = button_to 'Edit', edit_dealer_path(dealer), method: :get, class: 'btn btn-secondary'
        %td.width_for_sed
          = button_to 'Delete', dealer, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
