.card
  .card-header
    %h3 Sign in as seller
  .card-body
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field.form-group
        = f.email_field :email, autofocus: true, autocomplete: 'email', placeholder: 'Email', class: 'form-control'
        %br/
      .field.form-group
        = f.password_field :password, autocomplete: 'current-password', placeholder: 'Password', class: 'form-control'
      - if devise_mapping.rememberable?
        .field.form-group
          = f.check_box :remember_me, class: 'form-check-input mt-2'
          = f.label :remember_me, class: 'mt-1'
      .actions
        = f.submit 'Sign in', class: 'btn btn-secondary mt-2'

%br/
= render 'users/shared/links'
