%h1 Brands

= button_to 'Add new brand', new_brand_path, method: :get, class: 'btn btn-primary'

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Description
      %th
      %th
      %th

  %tbody.align-middle
    - @brands.each do |brand|
      %tr
        %td.width_for_string_field
          = brand.name
        %td= brand.description
        %td.width_for_sed
          = button_to 'Show', brand, method: :get, class: 'btn btn-info'
        %td.width_for_sed
          = button_to 'Edit', edit_brand_path(brand), method: :get, class: 'btn btn-secondary'
        %td.width_for_sed
          = button_to 'Delete', brand, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
