- if flash[:notice]
  .alert.alert-success= notice

%p
  %b Name:
  = @brand.name
%p
  %b Description:
  = @brand.description

= button_to 'Edit', edit_brand_path(@brand), method: :get, class: 'btn btn-secondary'

= button_to 'Back', brands_path, method: :get, class: 'btn btn-light'
