= form_for @car do |f|
  - if @car.errors.any?
    #error_explanation
      %h2= "#{pluralize(@car.errors.count, "error")} prohibited this car from being saved:"
      %ul
        - @car.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :fueltype
    %br/
    = f.text_field :fueltype
  .field
    = f.label :bodycolor
    %br/
    = f.text_field :bodycolor
  .field
    = f.label :gearbox
    %br/
    = f.text_field :gearbox
  .field
    = f.label :price
    %br/
    = f.text_field :price

  .field
    = f.label 'Brand'
    %br/
    = select_tag "brand_id", options_for_select(Brand.all.collect{ |b| [b.name, b.id] }), prompt: "Select brand"
  
  .field
    = f.label :model_id
    %br/
    = select_tag :model_id, options_for_select(@models.collect{ |m| [m.name, m.id] }), disabled: true

  .field
    = f.label 'Submodel'
    %br/
    = select_tag "submodel_id", options_for_select(@submodels.collect{ |b| [b.name, b.id] }), disabled: true

  .field
    = f.label :dealer_id
    %br/
    = f.select :dealer_id, Dealer.all.collect { |d| [ d.name, d.id ] }
  .actions
    %br/
    = f.submit 'Save', class: 'btn btn-success'
