%h1 Cars

= button_to 'Add new car', new_car_path, method: :get, class: 'btn btn-primary'

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Fueltype
      %th Bodycolor
      %th Gearbox
      %th Price
      %th Model
      %th Dealer
      %th
      %th
      %th

  %tbody.align-middle
    - @cars.each do |car|
      %tr
        %td= car.name
        %td= car.fueltype
        %td= car.bodycolor
        %td= car.gearbox
        %td= car.price
        %td= car.model
        %td= car.dealer.name
        %td.width_for_sed
          = button_to 'Show', car, method: :get, class: 'btn btn-info'
        %td.width_for_sed
          = button_to 'Edit', edit_car_path(car), method: :get, class: 'btn btn-secondary'
        %td.width_for_sed
          = button_to 'Delete', car, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
