%h1 Cars

= button_to 'Add car', new_car_path, method: :get, class: 'btn btn-primary mb-2'

%table.table.table-bordered.table-striped
  %thead
    %tr
      %th Name
      %th Fuel type
      %th Body color
      %th Gearbox
      %th Dealer
      %th Price
      %th
      %th
      %th

  %tbody.align-middle
    - @cars.each do |car|
      %tr{"url" => "/cars/" + car.id.to_s}
        %td= car.name
        %td= car.fuel_type
        %td= car.body_color
        %td= car.gearbox
        %td= car.dealer.name
        %td= car.price
        %td.width_for_sed
          = button_to 'Show', car, method: :get, class: 'btn btn-info'
        %td.width_for_sed
          = button_to 'Edit', edit_car_path(car), method: :get, class: 'btn btn-secondary'
        %td.width_for_sed
          %button.deleteAction.btn.btn-danger{:type => "button"} Delete

= paginate @cars, class: 