%p#notice.alert.alert-success= notice

%p
  %b Name:
  = @car.name
%p
  %b Fueltype:
  = @car.fueltype
%p
  %b Bodycolor:
  = @car.bodycolor
%p
  %b Gearbox:
  = @car.gearbox
%p
  %b Price:
  = @car.price

= button_to 'Edit', edit_car_path(@car), method: :get, class: 'btn btn-secondary'

= button_to 'Back', cars_path, method: :get, class: 'btn btn-light'
