!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Marplace
    %meta{:content => 'width=device-width,initial-scale=1', :name => 'viewport'}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true
  %body
    = render 'shared/header'
    .container
      .row
      - if flash[:notice]
        .alert.alert-info= notice
      - if flash[:alert]
        .alert.alert-warning= alert
      = yield
